.payment-methods {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Style for individual payment method card */
.payment-card {
    max-width: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment-method {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
}

    /* Add a hover effect for the payment method logos */
.payment-card:hover {
    transform: scale(1.1);
}

/* Style for the delete button */
.delete-button {
    background-color: #ff5c5c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .delete-button:hover {
        background-color: #ff0000;
    }

.activate-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .activate-button:hover {
        background-color: #388E3C;
    }

.button {
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    transition: 0.2s;
}

    .button:hover {
        letter-spacing: 0.2rem;
        padding: 1.1rem 3.1rem;
        background: var(--clr);
        /*color: var(--clr);*/
        /* box-shadow: 0 0 35px var(--clr); */
        animation: box 3s infinite;
    }

    .button::before {
        content: "";
        position: absolute;
        inset: 2px;
        background: #306DF0;
    }

    .button span {
        position: relative;
        z-index: 1;
    }

    .button i {
        position: absolute;
        inset: 0;
        display: block;
    }

        .button i::before {
            content: "";
            position: absolute;
            width: 10px;
            height: 2px;
            left: 80%;
            top: -2px;
            border: 2px solid var(--clr);
            background: #272822;
            transition: 0.2s;
        }

    .button:hover i::before {
        width: 15px;
        left: 20%;
        animation: move 3s infinite;
    }

    .button i::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 2px;
        left: 20%;
        bottom: -2px;
        border: 2px solid var(--clr);
        background: #272822;
        transition: 0.2s;
    }

    .button:hover i::after {
        width: 15px;
        left: 80%;
        animation: move 3s infinite;
    }

@keyframes move {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes box {
    0% {
        box-shadow: #27272c;
    }

    50% {
        box-shadow: 0 0 25px var(--clr);
    }

    100% {
        box-shadow: #27272c;
    }
}